.not-found-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 70px);
    flex-direction: column;
    padding: 10px;
}

.not-found-page-image-container {
    width: 40%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-page-image {
    width: 150px;
    height: 150px;
}

.not-found-page-text{
    font-size: large;
    font-weight: bold;
    margin: 5px;
    text-align: center;

}
