.video-player-video {
    width: 70%;
    height: 350px;
    background-color: black;
    object-fit: cover;
    border-radius: 15px;
}

@media only screen and (max-width: 650px) {
    .video-player-video {
        width: 90%;
        height: 200px;
    }

}