.general-recommended-list-container{
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
    position: relative;
}
.general-recommended-list-card{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    border-radius: 2px;
}
.general-recommended-list-card:hover{
    opacity: 0.8;
    background-color: rgb(225, 225, 224);
}
.general-recommended-list-image{
    width: 140px;
    height: 100px;
    border-radius: 2px;
}
.general-recommended-list-title-and-text-container{
    width: 100%;
    padding: 2px;
    height:100px;
    overflow: hidden;

}
.general-recommended-list-title{
    font-weight: 600;
    height:100px;

  
}
.general-recommended-list-play-icon{
    display: flex;
    position: absolute;
    left: 60px;
  
}