:root {
    --navi-height: 60px;
    --navi-color: #7c14a8;
}

.navi-component {
    background-color: var(--navi-color);
    display: flex;
    position: relative;
    height: var(--navi-height);
    margin-bottom: 3px;
    padding: 0px 10px 0px 10px;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(174, 171, 171);
}

.navi-items-general-div {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 1px 10px 1px 10px;
    height: calc(var(--navi-height) - 20px);
}

.brand-name-for-navi {
    color: white;
    position: absolute;
    left: 60px;
    font-weight: bold;
    font-size: large;
    font-family: 'Comfortaa';
}

.navi-icon-for-drawer-open {
    position: absolute;
    left: 15px;

}

.navi-icon-for-drawer-open:active {
    background-color: rgb(199, 189, 189, 0.2);
    border-radius: 5px;

}

.navi-input {
    position: absolute;
    left: 32%;
    width: 40%;
}

.navi-avatar {
    position: absolute;
    right: 2%;

}

.navi-first-search-icon {
    position: absolute;
    right: 6%;
    color: black;
}

@media only screen and (max-width: 800px) {
    .navi-input {
        position: absolute;
        left: 35%;
        width: 50%;
    }

}

@media only screen and (max-width: 600px) {
    .brand-name-for-navi {
        font-size: medium;

    }

    .navi-input {
        left: 40%;
        width: 50%;
    }
}

@media only screen and (max-width: 460px) {
    .brand-name-for-navi {
        left: 50px;
        font-size: small;

    }

    .navi-input {
        left: 40%;
        width: 50%;
    }


}

@media only screen and (max-width: 330px) {

    .brand-name-for-navi {
        display: none;
    }

    .navi-input {
        left: 22%;
        width: 70%;
    }


}