
.navi-component {
    background-color: var(--navi-color);
    display: flex;
    position: relative;
    height: var(--navi-height);
    margin-bottom: 0px;
    padding: 0px 10px;
    align-items: center;
    box-shadow: 5px 5px 10px rgb(174, 171, 171);
    min-width: 250px;
}

.navi-items-general-div {
    width: 100%;
    align-items: center;
    display: flex;
    padding: 1px 10px;
    height: calc(var(--navi-height) - 20px);
}

.brand-name-for-navi {
    color: white;
    position: absolute;
    left: 60px;
    font-weight: bold;
    font-size: large;
    font-family: 'Comfortaa';
}

.navi-icon-for-drawer-open {
    position: absolute;
    left: 15px;

}

.navi-icon-for-drawer-open:active {
    background-color: rgb(199, 189, 189, 0.2);
    border-radius: 5px;

}

.navi-input {
    position: absolute;
    left: 32%;
    width: 40%;
}
.navi-drawer{
    display:flex;
    z-index: 4;
    position: absolute;
    top: 61px;
    left: 0px;
    min-width: 200px;
    height:calc(100vh - 70px);;
    word-break: keep-all;
    animation-duration: 1s;
    background-color: #7c14a8;
    animation-name: opendrawer;
   
}
@keyframes opendrawer {
    from {
     left:-150px
    }
  
    to {
      left: 0px;
    }
  }

.navi-avatar {
    position: absolute;
    right: 2%;

}

.navi-first-search-icon {
    position: absolute;
    right: 6%;
    color: black;
}

.navi-notification-icon {
    display: flex;
    right: 100px;
    position: absolute;
    border-radius: 100%;
}

.navi-notification-icon:active {
    background-color: rgb(233, 227, 227, 0.2);
    
}



@media only screen and (max-width: 800px) {
    .navi-input {
        position: absolute;
        left: 35%;
        width: 50%;
    }

    .navi-notification-icon {
        display: flex;
        right: 65px;
        position: absolute;
    }

}

@media only screen and (max-width: 600px) {
    .brand-name-for-navi {
        font-size: medium;

    }

    .navi-input {
        left: 38%;
        width: 50%;
    }
}

@media only screen and (max-width: 460px) {
    .brand-name-for-navi {
        display: none;

    }

    .navi-input {
        left: 19%;
        width: 50%;
    }



}

@media only screen and (max-width: 330px) {


    .navi-input {
        left: 16%;
        width: 50%;
    }
 
}

@media only screen and (max-width: 311px) {

    .navi-input {
        left: 15%;
        width: 50%;
    }


}
@media only screen and (max-width: 251px) {
    .navi-input {
        left: 18%;
        width: 60%;
    }
}