.search-input {
    border-radius: 5px;
    border: none;
    width: 85%;
    min-width: 50px;
    height: 33px;
}

.search-input:focus {
    border-radius: 5px;
    outline: none;
}

.search-input-form {
    padding: 5px 5px 5px 5px;
    width: 100%;
    align-items: center;
    display: flex;

}

.search-button {
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    height: 33px;
    width: 13%;
    background-color: rgb(226, 233, 19);
    color: black;
    font-size: large;
}
.search-icon{
    font-size: large;
    width: 100px;
    height: 100px;
}
@media only screen and (max-width: 600px) {
    .search-button {
        border: none;
        border-radius: 5px;
        margin-left: 2px;
        height: 33px;
        width: 13%;
        background-color: rgb(226, 233, 19);
        color: black;
        font-size: small;
    }
    .search-input {
        border-radius: 5px;
        border: none;
        width: 65%;
        min-width: 50px;
        height: 33px;
    }
    

    
}
@media only screen and (max-width: 460px) {

    .search-button {
        border: none;
        border-radius: 5px;
        margin-left: 2px;
        height: 33px;
        width: 16%;
        background-color: rgb(226, 233, 19);
        color: black;
        font-size: small;
        padding: 2px 2px 2px 2px;
    }
    .search-input {
        border-radius: 5px;
        border: none;
        width: 65%;
        min-width: 20px;
        height: 33px;
    }
}
