.settings-delete-search-history-button {
    border: none;
    border-radius: 5px;
    background-color: var(--button-color-yellow);
    padding: 10px 10px;
    margin-right: 5px;
  }
  
  .settings-delete-search-history-button:hover {
    background-color: var(--button-color-yellow-hover);
  }