.payment-container {
  height: 100%;
  padding: 5px 1px;
  display: flex;
  justify-content: center;
  font-family: "Open Sans";

}

.payment-your-earning-container {
  background-image: linear-gradient(var(--navi-color), var(--button-color-yellow));
  margin: 10px 2px 5px 2px;
  width: 95%;
  height: 250px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px 5px gainsboro;
  padding: 5px 0px;
  position: relative;
  display: flex;
}

.payment-your-earning-text {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 10px;
}

.payment-amount-of-money {
  height: 100px;
  top: 2em;
  padding: 20px;
  align-items: center;
  width: 100%;
  position: absolute;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  background-color: rgba(227, 227, 220, 0.5);
  border-radius: 15px;
}

.payment-threshold {
  position: absolute;
  display: flex;
  top: 12em;
  left: 4px;
  font-size: large;
  font-weight: 700;
}

.payment-button-container {
  position: absolute;
  display: flex;
  height: 50px;
  width: 70%;
  bottom: 0px;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  margin-bottom: 15px;
}

.payment-payment-button {
  border: none;
  border-radius: 15px;
  padding: 5px;
  background-color: var(--button-color-yellow);
  margin-right: 5px;
}

.payment-payment-button:hover {
  background-color: var(--button-color-yellow-hover);
}