.playlist-container{
    height: calc(100vh - 70px);
    padding: 7px 15px;
    font-family: 'Open Sans';
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}
.playlist-text{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 10px 5px;
}