.reset-password-container {
    padding: 5px 1px;
    display: flex;
    height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    font-family: 'Open Sans';

}

.reset-password-form {
    width: 80%;
    height: 500px;
    position: relative;
    background-color: rgba(233, 226, 47, 0.4);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.reset-password-input-email {
    position: absolute;
    bottom: 20px;

}

.reset-password-submit-button {
    background-color: #ffd740;
    border: none;
    width: 20%;
    position: absolute;
    bottom: 140px;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Open Sans';

}

.reset-password-submit-button:hover {
    background-color: #bb9c2c;
}
.reset-password-text{
    display: flex;
    position: absolute;
    top: 150px;
}