.article-card {
    background-color: rgba(197, 190, 197, 0.2);
    width: 330px;
    height: 470px;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(201, 198, 198);
}

.article-card:hover {
    background-color: var(--button-color-yellow);
}


.article-card-thumbnail-image {
    height: 200px;
    width: 99%;
    margin: 5px 0px;
    border-radius: 15px;
    box-shadow: 2px 3px 2px rgb(183, 177, 177);

}

.article-card-article-title {
    font-weight: bold;
    font-size: 22px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
    padding: 1px;


}

.article-card-article-text {
    font-size: 14px;
    height: 60px;
    overflow: hidden;
    color: rgb(47, 46, 46);
    margin-bottom: 5px;

}

.article-card-operations-icons {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 5px;
    bottom: 12px;
    left: 0px;
    margin: 2px;
    width: 100%;
    margin-top: 20px;
 
}

.article-card-read-more {
    font-weight: 700;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
    background-color: rgba(162, 165, 168, 0.25);
    border-radius: 15px;
    padding: 1px 5px;
    font-size: 10px;
    width: 80px;
    height: 20px;
}

.article-card-button {
    font-size: small;
    font-weight: bold;
    width: 100px;   
}

.article-card-read-more:hover {
    background-color: rgba(162, 165, 168, 0.05)
}


@media only screen and (max-width: 330px) {

    .article-card-button {
        font-size: 8px;
        font-weight: 100;
    }


}

