.recommended-article-container{
    display: flex;
    flex-direction: column;
    padding: 2px 5px;
}
.recommended-article-card{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    border-radius: 2px;
}
.recommended-article-card:hover{
    opacity: 0.8;
    background-color: rgb(225, 225, 224);
}
.recommended-article-image{
    width: 140px;
    height: 100px;
    border-radius: 2px;
}
.recommended-article-title-and-text-container{
    width: 100%;
    padding: 2px;
    height:100px;
    overflow: hidden;

}
.recommended-article-title{
    font-weight: 600;
    height:100px;

  
}