.video-card {
    background-color: rgba(197, 190, 197, 0.2);
    width: 330px;
    height: 400px;
    padding: 10px;
    position: relative;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(201, 198, 198);
}

.video-card:hover {
    background-color: rgb(255, 4, 4);
    color: white;
}


.video-card-thumbnail-image {
    height: 200px;
    width: 99%;
    margin: 5px 0px;
    border-radius: 3px;
    position: relative;

}


.video-card-article-title {
    font-weight: bold;
    font-size: 22px;
    height: 80px;
    overflow: hidden;
    text-align: center;
    padding: 1px;
    position: relative;
    bottom: 95px;

}

.video-card-play-icon {
    position: relative;
    bottom: 160px;
    left: 95px;
    display: inline-flex;
}

.video-card-operations-icons {
    display: flex;
    bottom: 0;
    position: absolute;

}

.video-card-operations-icons:hover {
    opacity: 0.7;
    background: none;
}